@model PaginationViewModel;
@{
    ViewData["Title"] = "Home Page";
    var fullName = Context.Session.GetString("FullName");
    var role = Context.Session.GetString("Role");
}
<body>
    <img src="~/images/📷 Image (1).svg" alt="Chef" class="display-img" />

    <article class="article-c">
        <div class="article">
            <p class="article-text1">Our gloves are holding hands with research teams at the American Cancer Society.</p>
            <p class="article-text2">Gloves with a Purpose <sup>TM</sup> from SYNA Medical</p>
            <p class="article-text3">
                Since 1946, the American Cancer Society (ACS), the nation’s #1 trusted source for cancer information,
                has invested more than $5 billion in cancer research to find better treatments, uncover causation factors,
                and improve patient care and quality of life. <br /><br />
                SYNA Medical is a proud supporter of ACS and with our breakthrough Gloves with a PurposeTM campaign, you can be too.
            </p>
        </div>
    </article>
    @* ---------------------------------------------------------------------Dynamically Generated----------------------------------------------------------------------------*@
    @if (fullName != null)
    {
        @foreach (var item in Model.Doctors)
        {
            if (item.Id == 1)
            {
                <section class="profile">
                    <img src="@item.ImageUrl" class="profile-img" />
                    <div class="profile-info">
                        <a asp-controller="Doctor" asp-action="Doctor" asp-route-id="@item.Id" class="profile-info-name">@item.Name</a>
                        <p class="profile-info-bio">@item.Comment</p>
                    </div>
                </section>
            }
            else if (item.Id == 2)
            {
                <section class="profile">
                    <div class="profile-info">
                        <a asp-controller="Doctor" asp-action="Doctor" asp-route-id="@item.Id" class="profile-info-name">@item.Name</a>
                        <p class="profile-info-bio">@item.Comment</p>
                    </div>
                    <img src="@item.ImageUrl" class="profile-img" />
                </section>
            }
            else
            {
                <section class="profile3">
                    <img src="@item.ImageUrl" class="profile3-img" />
                    <a asp-controller="Doctor" asp-action="Doctor" asp-route-id="@item.Id" class="profile3-name">@item.Name</a>
                    <div class="profile3-info">
                        <p class="profile3-bio">@item.Comment</p>
                    </div>
                </section>
            }
        }

    }
    else
    {
        @foreach (var item in Model.Doctors)
        {
            if (item.Id == 1)
            {
                <section class="profile">
                    <img src="@item.ImageUrl" class="profile-img" />
                    <div class="profile-info">
                        <a asp-controller="Auth" asp-action="Register" asp-route-id="@item.Id" class="profile-info-name">@item.Name</a>
                        <p class="profile-info-bio">@item.Comment</p>
                    </div>
                </section>
            }
            else if (item.Id == 2)
            {
                <section class="profile">
                    <div class="profile-info">
                        <a asp-controller="Auth" asp-action="Register" asp-route-id="@item.Id" class="profile-info-name">@item.Name</a>
                        <p class="profile-info-bio">@item.Comment</p>
                    </div>
                    <img src="@item.ImageUrl" class="profile-img" />
                </section>
            }
            else
            {
                <section class="profile3">
                    <img src="@item.ImageUrl" class="profile3-img" />
                    <a asp-controller="Auth" asp-action="Register" asp-route-id="@item.Id" class="profile3-name">@item.Name</a>
                    <div class="profile3-info">
                        <p class="profile3-bio">@item.Comment</p>
                    </div>
                </section>
            }
        }
    }
    @* ---------------------------------------------------------------------Dynamically Generated----------------------------------------------------------------------------*@
    <div class="container">
        <section class="profile4">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    @for (int i = 0; i < Model.Products.Count(); i++)
                    {
                        if (i == 0)
                        {
                            <li data-target="myCarousel" data-ride-to="0" class="active"></li>
                        }
                        <li data-target="myCarousel" data-ride-to="i"></li>
                    }
                </ol>
                <div class="carousel-inner">
                    @for (int i = 0; i < Model.CarouselProducts.Count(); i++)
                    {
                        if (i == 0)
                        {
                            <div class="carousel-item active">
                                <div class="profile4-content">
                                    <img src="@Model.CarouselProducts[i].ProductImageUrl" class="profile4-content-img" />
                                    <p class="profile4-content-text1">@Model.CarouselProducts[i].ProductName</p>
                                    <p class="profile4-content-text2">@Model.CarouselProducts[i].ProductDescription</p>
                                    <a href="@Model.CarouselProducts[i].ProductLink">Read more></a>
                                </div>
                            </div>
                        }
                        <div class="carousel-item">
                            <div class="profile4-content">
                                <img src="@Model.CarouselProducts[i].ProductImageUrl" class="profile4-content-img" />
                                <p class="profile4-content-text1">@Model.CarouselProducts[i].ProductName</p>
                                <p class="profile4-content-text2">@Model.CarouselProducts[i].ProductDescription</p>
                                <a href="@Model.CarouselProducts[i].ProductLink">Read more></a>
                            </div>
                        </div>
                    }
                </div>
                <a href="#myCarousel" class="carousel-control-prev" role="button" data-slide="prev">
                    <span class="sr-only">Previous</span>
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </a>
                <a href="#myCarousel" class="carousel-control-next" role="button" data-slide="next">
                    <span class="sr-only">Next</span>
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </a>
            </div>
        </section>
        @if (role != null && role.Equals(Role.Doctor.ToString()))
        {
            <div class="col-md-12 text-right">
                <a asp-controller="Doctor" asp-action="Products" class="btn btn-primary">Edit blog</a>
            </div>
        }
    </div>
    @* ---------------------------------------------------------------------Dynamically Generated----------------------------------------------------------------------------*@

    <section class="section-donate">
        <div class="section-donate-content">
            <p class="section-donate-content-cancer">Woman cancer</p>
            <p class="section-donate-content-gap">Close the <br />Care Gap</p>
            <div class="section-donate-button"><button>Donate</button></div>
            <img src="~/images/wc1.svg" alt="Lady's image" class="section-donate-content-img" />
        </div>
        <div class="section-donate-content">
            <p class="section-donate-content-cancer">Woman cancer</p>
            <p class="section-donate-content-gap">Close the <br />Care Gap</p>
            <div class="section-donate-button"><button>Donate</button></div>
            <img src="~/images/wc1.svg" alt="Lady's image" class="section-donate-content-img" />
        </div>
    </section>
    <section class="section-gloves">
        <div class="section-gloves-content">
            <p class="section-gloves-content-txt1">Gloves with a<br />porpouse</p>
            <p class="section-gloves-content-txt2">Lorem Ipsum is simply dummy <br /> text of the printing and <br />typesetting industry. Lorem <br /> Ipsum is simply dummy text of <br /> the printing and </p>
            <div class="section-gloves-content-button"><button>Learn more</button></div>
        </div>
        <img src="~/images/Gloves Box - Mockup 02 2.png" alt="Alternate Text" class="section-gloves-img-img" />
    </section>
    <section class="section-donate-2">
        <div class="section-donate-2-content">
            <p class="section-donate-2-content-cancer">Woman cancer</p>
            <p class="section-donate-2-content-gap">Close the Care Gap</p>
            <div class="section-donate-2-button"><button>Donate</button></div>
            <img src="~/images/wc1.svg" alt="Lady's image" class="section-donate-2-content-img" />
        </div>
    </section>
    <br />
    <br />
    <section class="section-facts">
        @* ---------------------------------------------------------------------Research Statistics Generated----------------------------------------------------------------------------*@
        <div>
            <div class="section-facts-content">
                <span class="section-facts-content-figure"> <sup class="section-facts-content-symbol">$</sup> @Model.Research.NewResearch</span>
                <a href="#" class="section-facts-content-link">New Research</a>
            </div>
        </div>
        <div>
            <div class="section-facts-content">
                <span class="section-facts-content-figure support"><sup class="section-facts-content-symbol support">%</sup> @Model.Research.CancerSupport</span>
                <a href="#" class="section-facts-content-link support">Cancer Support</a>
            </div>
        </div>
        <div>
            <div class="section-facts-content research">
                <span class="section-facts-content-figure x">@Model.Research.CancerResearch</span>
                <a href="#" class="section-facts-content-link">Cancer Research</a>
            </div>
        </div>
        @* ---------------------------------------------------------------------Research Statistics Generated----------------------------------------------------------------------------*@
    </section>
    <br />
    <br />
    <section class="section-contact">
        <div class="section-contact-content">
            <img src="~/images/email (1).svg" alt="email-logo" class="section-contact-content-img" />
            <p class="section-contact-content-txt">It was popularised<br />in the 1960s with</p>
            <a href="#" class="section-contact-content-link">Read more</a>
        </div>
        <div class="section-contact-content">
            <img src="~/images/recycle.svg" alt="recycle=logo" class="section-contact-content-img" />
            <p class="section-contact-content-txt">Lorem Ipsum</p>
            <a href="#" class="section-contact-content-link">Read more</a>
        </div>
        <div class="section-contact-content">
            <img src="~/images/brokenImage (1).svg" alt="" class="section-contact-content-img" />
            <p class="section-contact-content-txt">Aldus PageMaker<br />including</p>
            <a href="#" class="section-contact-content-link">Read more</a>
        </div>
    </section>
</body>
